<div class="row">
    <div class="container-fluid">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Payment Confirmation</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
  
        <mat-card-content>
          <div class="row">
            <h3>Your followup appointment has been confirmed and is awaiting completion with payment.

              Kindly proceed for payment in Current Appointments  <a routerLink="/e-hospital" class="btn btn-white"> (click here) </a></h3>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div> 
  