<section class="hero-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
          <div class="contact-h-cont">
            <h3 class="text-center"><img src="../assets/img/logo.png" class="img-fluid" alt=""></h3><br>
            <form [formGroup]="ResetPasswordForm" (ngSubmit)="resetPass()" ngNativeValidate>

              <div class="form-group">
                <label for="password">New Password</label>
                <input class="form-control" type="password"  id="password" formControlName="password"
                [ngClass]="{'is-invalid': ResetPasswordForm.controls['password'].invalid && (ResetPasswordForm.controls['password'].dirty || ResetPasswordForm.controls['password'].touched),
                'is-valid': ResetPasswordForm.controls['password'].valid && (ResetPasswordForm.controls['password'].dirty || ResetPasswordForm.controls['password'].touched)}"> 
                <div class="" *ngIf="ResetPasswordForm.controls['password'].invalid && (ResetPasswordForm.controls['password'].dirty || ResetPasswordForm.controls['password'].touched)" style="color:#ff0000">
                  Please provide a valid password.
                </div>
              </div> 

              <div class="form-group">
                <label for="confrmpassword">Confirm Password</label>
                <input class="form-control" type="password"  id="confrmpassword" formControlName="confirmpassword"
                [ngClass]="passCheck()">  
                <div class="" *ngIf="!matchPassword()" style="color:#ff0000">
                  Password does not match.
                </div>
              </div>  

              <button class="btn btn-general btn-blue" role="button"><i fa fa-right-arrow></i>Submit</button>
            </form>
          </div>
      </div>
    </div>  
  </div>
</section>