<div class="row">
  <div class="container-fluid">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h1>E-hospital Transaction PTS List</h1></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>

      <mat-card-content>
        <table class="table table-hover table-bordered">
          <thead>
            <tr class="bg-info text-white">
              <th>ID</th>
              <!-- <th>PTS ID</th> -->
              <th>App ID</th>
              <th>Hospital ID</th>
              <th>Hospital Name</th>
              <th>Dr.Name</th>
              <th>Speciality</th>
              <th>Created Date</th>
              <th>Action</th>
              <th>View Prescription</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hosp of posts,let i=index">
              <th scope="row">{{i+1}}</th>
              <!-- <td>{{hosp.pts_id}}</td> -->
              <td>{{hosp.pts_transaction_id}}</td>
              <td>{{hosp.hospitalId}}</td>
              <td>{{hosp.hospitalName}}</td>
              <td>{{hosp.DoctorId}}</td>
              <td>{{hosp.Specialty}}</td>
              <td>{{formatTime(hosp.date)}}</td>
              <td *ngIf="isPTS "><a routerLink="/e-hospital/pts/{{hosp.pts_id}}/{{hosp.pts_transaction_id}}" class="btn btn-primary">Select</a></td>
              <!-- <td *ngIf="isPTS && {{hosp.DoctorId}} == null "><a routerLink="/e-hospital/pts/{{hosp.pts_id}}/{{hosp.pts_transaction_id}}" class="btn btn-primary">Select T</a></td> -->
              <!-- <td><a routerLink="" class="btn btn-primary">Select</a></td> -->
              <td *ngIf="hosp.DoctorId == null"><h1 style="margin: center">-</h1> </td> 
              <td *ngIf="hosp.DoctorId != null"> <a routerLink="/new/prescription/{{hosp.pts_patientUID}}/{{hosp.hospitalId}}/{{hosp.pts_transaction_id}}" class="btn btn-primary">View Prescription</a> </td>
              
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div> 