label.required::after {
    content: "*";
    padding:5px;
    color: rgb(245, 6, 6) !important;
    font-weight:bold;
    }

   /* // @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
   */
    /* @import '~font-awesome/scss/font-awesome.scss';  */

    .panel-title > a:before {
    float: right;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 25px;
    
    /* padding-left: 50px; */
   
}
.panel-title > a.collapsed:before {
    float: right;
    content:"\f067";
   
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-title>a {
    display: flex;   
     justify-content: left;
    /*align-items: left; */
  }
.panel-default
{
    width:100%;
    margin-top:50px;
}

.panel-heading
{
    width:100%;
    margin-top:20px;
}
  

.panel-body
{
    width:100%;
    margin-top:20px;
}
  
  