<mat-card class="card-picture">
    <mat-card-title>
      Book Pharmacy
    </mat-card-title>
    <mat-divider></mat-divider>
  
    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select Medicine</ng-template>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                  <mat-select placeholder="Select Prescription" formControlName="prescription_id" (change)="getPrescription()" required>
                    <mat-option *ngFor="let pres of prescriptions" [value]="pres.id">Prescription by {{pres.doctor_name}} sent on {{formatTime(pres.appointment_date)}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
            <!-- <div class="col-md-6">
              <b>Total Cost: </b>{{cost}}
            </div> -->
  
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Consultation" formControlName="consultation_type" required>
                      <mat-option *ngFor="let ct of consultationType" [value]="ct.id">{{ct.type}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
           
  
  
            <div class="col-md-12">
              <mat-form-field class="full-width">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                  <mat-label>Select Mode of Payment</mat-label>
                  <mat-select placeholder="Select Mode" formControlName="payment_type_id" required>
                  <mat-option value="1">Cash On Delivery</mat-option>
                  <mat-option value="2">Online</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <hr>
            <div class="col-md-12" *ngIf="selectedPres">
                <mat-label>Selected Prescription:</mat-label><br>
              <img src="{{selectedPres.prescription_path}}" width="250px" height="250px"><br><br>
            </div>
            <div class="col-md-12">
              <button color="primary" mat-raised-button matStepperNext>Next</button>
            </div>
          </div>
        </form>
      </mat-step>
  
  
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Add Personal Deatils</ng-template>
          <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
            </div>
  
            <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Email" formControlName="email" required>
                </mat-form-field>
            </div>
  
            <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Mobile" formControlName="mobile" required>
                </mat-form-field>
            </div>
  
  
            <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Address" formControlName="address" minlength="10" required>
                </mat-form-field>
            </div>
  
            <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Pincode" formControlName="pincode" required>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="locality" formControlName="locality" required>
                </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button color="primary" mat-raised-button matStepperPrevious>Back</button>
            <button color="warn" mat-raised-button (click)="submit()">Submit</button>
            <!-- <button color="primary" mat-raised-button matStepperNext>Next</button> -->
          </div>
        </form>
      </mat-step>
  
    </mat-horizontal-stepper>
  
  </mat-card>