<nav class="side-navbar">
  
  <!-- Sidebar Navidation Menus-->
  <ul class="list-unstyled">
      <li> <a routerLink="/dashboard"><i class="icon-home"></i>Home</a></li>
      <li> <a routerLink="/book-appointment"> <i class="fa fa-bar-chart"></i>Book Doctor Appointment </a></li>
      <li> <a routerLink="/labs"> <i class="fa fa-bar-chart"></i>Book Lab Tests </a></li>
      <li> <a routerLink="/pharmacy"> <i class="fa fa-bar-chart"></i>Order Medicine </a></li>
      <li> <a routerLink="/prescriptions"> <i class="fa fa-bar-chart"></i>Prescriptions </a></li>
      <!-- <li> <a routerLink="/video-consult"> <i class="fa fa-bar-chart"></i>Video Consult </a></li> -->
      <!-- <li> <a routerLink="/doctor-appointments"> <i class="fa fa-map-o"></i>Doctor Appointments </a></li> -->
      <li> <a routerLink="/video-consult"> <i class="fa fa-map-o"></i>Share Reports </a></li>
      <li> <a routerLink="/lab-appointments"> <i class="fa fa-map-o"></i>Lab Appointments / Quotes </a></li>
      <li> <a routerLink="/reports"> <i class="fa fa-bar-chart"></i>Lab Reports </a></li>
      <li> <a routerLink="/pharmacy/orders"> <i class="fa fa-bar-chart"></i>Pharmacy Orders / Quotes </a></li> 
      <li> <a routerLink="/doctor-appointments/orders"> <i class="fa fa-bar-chart"></i> Doctor Appointment Order  </a></li> 
      <li> <a routerLink="/e-hospital"> <i class="fa fa-bar-chart"></i>E-Hospital </a></li>
      <!-- <li> <a routerLink="/reports/share"> <i class="icon-grid"></i>Share Reports </a></li>  -->
      <!-- <li> <a routerLink="/feedback"> <i class="icon-grid"></i>Feedback </a></li> 
      <li> <a routerLink="/payments"> <i class="icon-grid"></i>Payments </a></li>   -->
  </ul>
</nav> 