<div class="row">
    <div class="col-md-12">
      <!--***** PRODUCT INFO *****-->
        <div class="card form" id="form1">
            <div class="card-header">
                <h3>
                    <i class="fa fa-medkit"></i>Patient Previous History
                    <!-- <a routerLink="/labtests"  class="btn btn-primary pull-right">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                        Go Back
                    </a>   -->
                </h3>
            </div>
            <br>
            <form [formGroup]="reportsForm" (ngSubmit)="submit()" ngNativeValidate> 
                <div class="row" style="padding: 50px">
                    <div class="form-group">
                        <!-- <label for="name">Select previous history</label>
                        <select type="text" class="form-control" placeholder="Select history" [(ngModel)]="categoryId" (change)="getTests()" name="report_path">
                            <option *ngFor='let category of upload_prev_hist' value="{{category.id}}">{{category.doc_path}}</option>
                        </select> -->

                        <label for="name">Select previous history</label>
                        <select class="form-control" formControlName="report_id" id="example-tel-input" (change)="getReports1()">
                            <option *ngFor="let report of upload_prev_hist" value="{{report.id}}">{{report.doc_path}}</option>
                        </select>
                    </div>
  

                    
                </div>
                <hr>
                
  
                <div class="row" *ngIf="selectedReports1">
                      <h3 class="text-center">Selected Previous History:</h3><br>
                     <a href="{{selectedReports1.doc_path}}" target="_blank"><img src="{{selectedReports1.doc_path}}" width="200px" height="200px"></a>
                    </div>
                <div class="row">
                    <div class="d-block mx-auto">
                    <button class="btn-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div> 
    </div>
  
  </div>