<div class="container-fluid">

  <!--***** REPORT-1 *****-->     
  <div class="row" id="report1">
      <div class="col-sm-6">
        <a routerLink="/e-hospital/lists" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Book Appointments</span>
                  </div>
                  
              </div>
          </div>
          </a>
      </div> 
      <div class="col-sm-6">
        <a routerLink="/e-hospital/appointments" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">E-hospital Appointments</span>
                  </div>
              </div>
          </div>
          </a>
      </div> 

      <div class="col-sm-6">
        <a routerLink="/e-hospital/video" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">E-hospital Video Call</span>
                  </div>
              </div>
          </div>
          </a>
      </div> 

      <!-- <div class="col-sm-6">
        <a routerLink="/e/appointment/" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">E-hospital Doctor Appointments</span>
                  </div>
              </div>
          </div>
          </a>
      </div> -->

      <div class="col-sm-6">
        <a routerLink="/hosp/list" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">E-hospital Lab Order</span>
                  </div>
              </div>
          </div>
          </a>
      </div>

      <div class="col-sm-6">
        <a routerLink="/pharm/hosp/list" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Order Medicines</span>
                  </div>
              </div>
          </div>
          </a>
      </div>
                
  </div>


</div>