<div class="content-inner">

  <!--***** REPORT-1 *****-->     
  <div class="row" id="report1">
      <div class="col-sm-4">
        <a routerLink="/doctor-appointments">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{apps_length}}</h2>
                      <span class="text-muted">Confirm Doctor Appointments</span>
                  </div>
                  
              </div>
          </div>
          </a>
      </div> 
      <div class="col-sm-4">
        <a routerLink="/lab-appointments">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{appointments_length}}</h2>
                      <span class="text-muted">Lab Appointments / Quotes</span>
                  </div>
                 </div>
            </div>
          </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/pharmacy/orders">
          <div class="card">
              <div class="card-block"> 
                  <div class="text-left report1-cont">
                      <h2 class="font-light m-b-0"><i class="ti-arrow-up text-warning"></i> {{orders_length}}</h2>
                      <span class="text-muted">Pharmacy Orders / Quotes</span>
                  </div>
              </div>
          </div>
          </a>
      </div>
                
  </div>

  <!--***** REPORT-2 *****-->     
 
  <!--***** FOOTER *****-->    
  <!-- <div class="row" id="report4">
      <div class="col-md-3">
          <div class="card text-center social-bottom sb-fb">
              <i class="fa fa-facebook"></i>
              <div>3250 +</div>
              <p>Likes</p>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card text-center social-bottom sb-tw">
              <i class="fa fa-twitter"></i>
              <div>2345 +</div>
              <p>Following</p>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card text-center social-bottom sb-gp">
              <i class="fa fa-google-plus"></i>
              <div>1253 +</div>
              <p>Followers</p>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card text-center social-bottom sb-in">
              <i class="fa fa-instagram"></i>
              <div>4524 +</div>
              <p>Likes</p>
          </div>
      </div>
  </div> -->

</div>