<section class="hero-area">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
          <div class="contact-h-cont">
            <h3 class="text-center"><img src="../assets/img/logo.png" class="img-fluid" alt=""></h3><br>
            <form [formGroup]="ForgotPasswordForm" (ngSubmit)="forgotPass()" ngNativeValidate>

              <!-- <div class="form-group">
                <label for="email">Email Id</label>
                <input type="text" class="form-control" id="email" placeholder="Email Id" formControlName="email"
                [ngClass]="{'is-invalid': ForgotPasswordForm.controls['email'].invalid && (ForgotPasswordForm.controls['email'].dirty || ForgotPasswordForm.controls['email'].touched),
                'is-valid': ForgotPasswordForm.controls['email'].valid && (ForgotPasswordForm.controls['email'].dirty || ForgotPasswordForm.controls['email'].touched)}"> 
                <div class="" *ngIf="ForgotPasswordForm.controls['email'].invalid && (ForgotPasswordForm.controls['email'].dirty || ForgotPasswordForm.controls['email'].touched)" style="color:#ff0000">
                  Please provide a valid Email Id.
                </div>
              </div>  -->

             
                <div class="form-group">
                    <label for="mobile">Username.</label>
                    <input type="text" class="form-control" id="mobile" title="Please provide username" formControlName="username"  placeholder="Enter Username" required> 
                    <div class="" *ngIf="ForgotPasswordForm.controls['username'].invalid && (ForgotPasswordForm.controls['username'].dirty || ForgotPasswordForm.controls['username'].touched)" style="color:#ff0000">
                      Please provide a valid Username.
                    </div> 
                 </div> 
               


              <button class="btn btn-general btn-blue" role="button"><i fa fa-right-arrow></i>Submit</button>
              <a routerLink="/login" class="btn btn-general btn-blue" role="button"><i fa fa-right-arrow></i>Login</a>
            </form>
          </div>
      </div>
    </div>  
  </div>
</section>