<div class="container-fluid">

  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>E-hospital PTS </h1></mat-card-title>
    </mat-card-header>
  </mat-card>

  <br>

  <!--***** REPORT-1 *****-->     
  <div class="row" id="report1">
      <div class="col-sm-4">
        <a routerLink="appointments" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Follow-up Doctor Appointment - PTS</span>
                  </div>
              </div>
          </div>
          </a>
      </div> 
      <div class="col-sm-4">
        <a routerLink="lab-tests" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Lab Test Appointments - PTS</span>
                  </div>
              </div>
          </div>
          </a>
      </div> 
       
      <div class="col-sm-4">
        <a routerLink="pharmacy" style="width:100%;">
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Pharmacy Orders - PTS</span>
                  </div>
              </div>
          </div>
          </a>
      </div> 

      <div class="col-sm-4">
        <!-- <a routerLink="pharmacy" style="width:100%;"> -->
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Medical Product Purchase Orders (Vendors) - PTS</span>
                  </div>
              </div>
          </div>
          <!-- </a> -->
      </div>
      
      <div class="col-sm-4">
        <!-- <a routerLink="pharmacy" style="width:100%;"> -->
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Medical Product Hire Orders (Vendors) - PTS</span>
                  </div>
              </div>
          </div>
          <!-- </a> -->
      </div>

      <div class="col-sm-4">
        <!-- <a routerLink="pharmacy" style="width:100%;"> -->
          <div class="card">
              <div class="card-block">
                  <div class="text-left report1-cont">
                      <span class="text-muted">Medical Service Provider Schedule & Orders (Vendors) - PTS</span>
                  </div>
              </div>
          </div>
          <!-- </a> -->
      </div>
                
  </div>


</div>